body
{
    font-size: 20px;
}
header
{
    position: fixed;
}
h1
{
    display: inline;
}
nav
{
    display: inline;
    text-align: right;
    position: fixed;
    right: 10px;
    padding: .9em;
}
a
{
    padding: .5em;
}