body
{
    background-color: #cf1e27;
    font-size: 20px;
    margin: 0%;
    font-family: 'Helvetica';
}
header
{
    position: relative;
    padding-top: .5em;
    padding-bottom: 1em;
    width: 100%;
    display: block;
    background-color: #ffffff;
    margin: 0em !important;
}
footer
{
    background-image: url(Images/back-ground-footer.png);
    text-align: center;
    color: #ffffff;
    padding: .5em;
}
h1
{
    display: inline;
}
ul 
{
    display: table;
    margin: 0em auto;
}
nav
{
    display: inline;
    text-align: right;
    position: relative;
    padding: .9em;
    padding-left: 33em;
}
a:hover
{
    color: #cf1e27;
}
a, a:link
{
    color: #000000;
    padding: .5em;
}
#egg-burger
{
    width: 35%;
    height: 35%;
    border: 1px black solid;
}
#product
{
    text-align: center;
    color: #ffffff;
}
#food-info
{
    background-color: #ffffff;
    color: #3c3c3c;
    padding: .5em;
    text-align: center;
}
#copyrightsign
{
    text-align: right;
    margin: 0em;
}